<?xml version="1.0"?>

<PropertyList>

	<!-- The default routes.xml includes 7 merlion routes, for 6 different merlion flights. Merlion pilots can download a complete flight database from http://www.merlionvirtual.co.nr soon, these company routes may be used by anyone for testing/experimental/educational purposes. -->
	
	<!-- Routes available by default : MIALGWFRA1, MIALGAFRA2, MIALGABCN1, MIALGWZRH1, MIASINHKG1, MIASINMNL1, MIADUBLGW1, MIAHKGSIN1 -->
	
	<!-- NOTE TO MIA PILOTS: Flight Database with ALL merlion routes will be available soon in the website -->
	
	<!-- NOTE: SIDs, STARs and IAPs have to be added separately according to ATC instructions and weather conditions -->
	
	<!-- MIALGWFRA1 -->
	
	<database>15APR-14JUN   MIA_Data_v3.1</database>
	<database_>15FEB-14APR</database_>
	
	<route>
		<rte_id>MIALGWFRA1</rte_id>
		<depicao>EGKK</depicao>
		<arricao>EDDF</arricao>
		<route>
			<wp>
				<wp-id>DVR</wp-id>
				<altitude-ft>18000</altitude-ft>
				<ias-mach>0.68</ias-mach>
			</wp>
			<wp>
				<wp-id>KONAN</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>KOK</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>FERDI</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>BUPAL</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>REMBA</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>SPI</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>RASVO</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>PIPEP</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>UNOKO</wp-id>
				<altitude-ft>26000</altitude-ft>
				<ias-mach>0.75</ias-mach>
			</wp>
		</route>
	</route>
	
	<route>
		<rte_id>MIALGWFRA2</rte_id>
		<depicao>EGKK</depicao>
		<arricao>EDDF</arricao>
		<route>
			<wp>
				<wp-id>DVR</wp-id>
				<altitude-ft>18000</altitude-ft>
				<ias-mach>0.68</ias-mach>
			</wp>
			<wp>
				<wp-id>KONAN</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>KOK</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>FERDI</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>BUPAL</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>REMBA</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>SPI</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>PELIX</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>MATUG</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>AMASI</wp-id>
				<altitude-ft>16000</altitude-ft>
				<ias-mach>0.68</ias-mach>
			</wp>
			<wp>
				<wp-id>UBIDU</wp-id>
				<altitude-ft>10000</altitude-ft>
				<ias-mach>250</ias-mach>
			</wp>
		</route>
	</route>
	
	<route>
		<rte_id>MIALGWBCN1</rte_id>
		<depicao>EGKK</depicao>
		<arricao>LEBL</arricao>
		<route>
			<wp>
				<wp-id>BOGNA</wp-id>
				<altitude-ft>10000</altitude-ft>
				<ias-mach>250</ias-mach>
			</wp>
			<wp>
				<wp-id>BENBO</wp-id>
				<altitude-ft>18000</altitude-ft>
				<ias-mach>0.68</ias-mach>
			</wp>
			<wp>
				<wp-id>DRAKE</wp-id>
				<altitude-ft>27000</altitude-ft>
				<ias-mach>0.75</ias-mach>
			</wp>
			<wp>
				<wp-id>SITET</wp-id>
				<ias-mach>0.81</ias-mach>
			</wp>
			<wp>
				<wp-id>ETRAT</wp-id>
				<ias-mach>0.81</ias-mach>
			</wp>
			<wp>
				<wp-id>PUMAL</wp-id>
				<ias-mach>0.81</ias-mach>
			</wp>
		</route>
	</route>
	
	<route>
		<rte_id>MIALGWZRH1</rte_id>
		<depicao>EGKK</depicao>
		<arricao>LSZH</arricao>
		<route>
			<wp>
				<wp-id>BIG</wp-id>
				<altitude-ft>8000</altitude-ft>
				<ias-mach>250</ias-mach>
			</wp>
			<wp>
				<wp-id>SANDY</wp-id>
				<altitude-ft>26000</altitude-ft>
				<ias-mach>0.68</ias-mach>
			</wp>
			<wp>
				<wp-id>MOTOX</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>ING</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>RANUX</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>OBAKI</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>BEGAR</wp-id>
				<altitude-ft>26000</altitude-ft>
				<ias-mach>0.68</ias-mach>
			</wp>
			<wp>
				<wp-id>LENGI</wp-id>
				<altitude-ft>14000</altitude-ft>
				<ias-mach>270</ias-mach>
			</wp>
			<wp>
				<wp-id>TRA</wp-id>
				<altitude-ft>8000</altitude-ft>
				<ias-mach>250</ias-mach>
			</wp>
		</route>
	</route>
	
	<route>
		<rte_id>MIASINHKG1</rte_id>
		<depicao>WSSS</depicao>
		<arricao>VHHH</arricao>
		<route>
			<wp>
				<wp-id>VMR</wp-id>
				<altitude-ft>18000</altitude-ft>
				<ias-mach>280</ias-mach>
			</wp>
			<wp>
				<wp-id>RAXIM</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>OTLON</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>VISAT</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>DUBSA</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>DAMOG</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>DOLOX</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>DUDIS</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>DADAG</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>DAMVO</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>DOXAR</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>NITOM</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>DAMEL</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>DONDA</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>DOSUT</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>DULOP</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>DUMOL</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
		</route>
	</route>
		
	<route>
		<rte_id>MIASINMNL1</rte_id>
		<depicao>WSSS</depicao>
		<arricao>RPLL</arricao>
		<route>
			<wp>
				<wp-id>HOSBA</wp-id>
				<altitude-ft>14000</altitude-ft>
				<ias-mach>250</ias-mach>
			</wp>
			<wp>
				<wp-id>TOMAN</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>VERIN</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>LUSMO</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>LAGOT</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>LAXOR</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>LULBU</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>LEGED</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
		</route>
	</route>
	
	<route>
		<rte_id>MIALGWDUB1</rte_id>
		<depicao>EGKK</depicao>
		<arricao>EIDW</arricao>
		<route>
			<wp>
				<wp-id>KENET</wp-id>
				<altitude-ft>18000</altitude-ft>
				<ias-mach>0.72</ias-mach>
			</wp>
			<wp>
				<wp-id>BEKSA</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>DOBEM</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>TOPRO</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>MEDOG</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>BADSI</wp-id>
				<altitude-ft>22000</altitude-ft>
				<ias-mach>0.68</ias-mach>
			</wp>
			<wp>
				<wp-id>LIPGO</wp-id>
				<altitude-ft>14000</altitude-ft>
				<ias-mach>250</ias-mach>
			</wp>
		</route>
	</route>
	
	<route>
		<rte_id>MIADUBLGW1</rte_id>
		<depicao>EIDW</depicao>
		<arricao>EGKK</arricao>
		<route>
			<wp>
				<wp-id>LIFFY</wp-id>
				<altitude-ft>8000</altitude-ft>
				<ias-mach>250</ias-mach>
			</wp>
			<wp>
				<wp-id>GINIS</wp-id>
				<altitude-ft>14000</altitude-ft>
				<ias-mach>250</ias-mach>
			</wp>
			<wp>
				<wp-id>LYNAS</wp-id>
				<altitude-ft>17000</altitude-ft>
				<ias-mach>0.65</ias-mach>
			</wp>
			<wp>
				<wp-id>MALUD</wp-id>
				<altitude-ft>22000</altitude-ft>
				<ias-mach>0.68</ias-mach>
			</wp>
			<wp>
				<wp-id>DOGIT</wp-id>
				<ias-mach>0.72</ias-mach>
			</wp>
			<wp>
				<wp-id>TELBA</wp-id>
				<ias-mach>0.72</ias-mach>
			</wp>
			<wp>
				<wp-id>DISIT</wp-id>
				<ias-mach>0.72</ias-mach>
			</wp>
			<wp>
				<wp-id>KIDLI</wp-id>
				<altitude-ft>18000</altitude-ft>
				<ias-mach>0.65</ias-mach>
			</wp>
		</route>
	</route>
	
	<route>
		<rte_id>MIAHKGSIN1</rte_id>
		<depicao>VHHH</depicao>
		<arricao>WSSS</arricao>
		<route>
			<wp>
				<wp-id>CH</wp-id>
				<altitude-ft>8000</altitude-ft>
				<ias-mach>250</ias-mach>
			</wp>
			<wp>
				<wp-id>EPDOS</wp-id>
				<ias-mach>0.79</ias-mach>
			</wp>
			<wp>
				<wp-id>EPKAL</wp-id>
				<ias-mach>0.79</ias-mach>
			</wp>
			<wp>
				<wp-id>EGEMU</wp-id>
				<ias-mach>0.79</ias-mach>
			</wp>
			<wp>
				<wp-id>EXOTO</wp-id>
				<ias-mach>0.79</ias-mach>
			</wp>
			<wp>
				<wp-id>VEPAM</wp-id>
				<ias-mach>0.79</ias-mach>
			</wp>
			<wp>
				<wp-id>KARAN</wp-id>
				<ias-mach>0.79</ias-mach>
			</wp>
			<wp>
				<wp-id>ESPOB</wp-id>
				<ias-mach>0.79</ias-mach>
			</wp>
			<wp>
				<wp-id>ENREP</wp-id>
				<ias-mach>0.79</ias-mach>
			</wp>
			<wp>
				<wp-id>UGPEK</wp-id>
				<ias-mach>0.79</ias-mach>
			</wp>
			<wp>
				<wp-id>URIGO</wp-id>
				<ias-mach>0.79</ias-mach>
			</wp>
			<wp>
				<wp-id>OBDAB</wp-id>
				<altitude-ft>30000</altitude-ft>
				<ias-mach>0.65</ias-mach>
			</wp>
			<wp>
				<wp-id>VPT</wp-id>
				<altitude-ft>18000</altitude-ft>
				<ias-mach>0.62</ias-mach>
			</wp>
		</route>
	</route>

</PropertyList>
